@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* for all style */
*{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
}

/* navbar style */
.navbar{
    display: flex;
    padding: 2rem;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 600px;
    border-bottom: 1.9px solid #61876E;
}

/* navbar h1 style */
.navbar h1{
    color: #2DCDDF;
    
}

/* navbar a style */
#anchor{
    margin-left: 2rem;
    color: #393E46;
}

/* navbar a hover */
#anchor:hover{
        color: #FF9E9E;
}

/* homepage content */
.container{ 
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}


